body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.cursor {
    width: 30px;
    height: 30px;
    background: url('../images/logo_cursor.png') no-repeat center center;
    background-size: contain;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}